# Gradle
.gradle/
gradle/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.settings/

# IntelliJ IDEA
.idea/

# Eclipse
.project
.classpath

# Built files
build/
bin/
